#Title {
    color:aliceblue;
    margin-left: 40%;
    font-size: 20px;

    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 40%;
        width: 100%;
    }
}
#Top {
    color: aliceblue;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #2b2b2b;
}
#Info {
    color:aliceblue;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 30px;
}
#Img {
    margin-left: 90px;
}
a:link {
    color: aliceblue;
   }
   
   a:visited {
    color: aliceblue;
   }
   
   a:hover {
    color: #2a2aff;
   }
   
   a:active {
    color: #2a2aff;
   }
